name: Run Job_Creation notebook

on:
  push:
    branches: ["main"]

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
        
      - name: Create and Run Job
        run: |
          export DATABRICKS_HOST="https://adb-3960540793376249.9.azuredatabricks.net"
          export DATABRICKS_TOKEN="dapi828505898b09f05c31fbae36860911dc-3"
      
          JOB_ID=$(databricks jobs create --json @creation_job.json | jq -r '.job_id')
          databricks jobs run-now --job-id "$JOB_ID"

