name: Run Job_Creation notebook

on:
  push:
    branches: ["main"]

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Run Job_Creation from JSON
        run: |
          export DATABRICKS_HOST="https://adb-3960540793376249.9.azuredatabricks.net"
          export DATABRICKS_TOKEN="${{ secrets.DATABRICKS_TOKEN }}"
          databricks jobs submit --json @creation_job.json
