name: Run Job_Creation notebook

on:
  push:
    branches: ["main"]

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
        
      - name: Create and Run Job
        run: |
          export DATABRICKS_HOST="https://adb-1670050298591902.2.azuredatabricks.net"
          export DATABRICKS_TOKEN="dapica208467099d1366845363dafb32d8aa-3"

          # Create job and capture ID (using "name" in JSON)
          JOB_ID=$(databricks jobs create --json @end_to_end.json | jq -r '.job_id')
          
          # Run the job using the ID directly (no flag)
          databricks jobs run-now "$JOB_ID"
